.home-page {
    text-align: center;
    color: white;
    margin-inline: 20%;

}

.intro {
    margin-top: 4rem;
}

.technology-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem;
    gap: 2rem;
}

.emphasize-words {
    color: #a260d8;
    font-size: 24px;
    font-family: 'Courgette', cursive;
    font-weight: bold;
}

.quote-box {
    margin-block: 4rem;
    color: rgb(209, 188, 209);
    backdrop-filter: blur(10px);
}
