.home-page {
    text-align: center;
    color: white;
    margin-inline: 20%;

}

.technology-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem;
    gap: 2rem;
}

.emphasize-words {
    color: #a83dff;
    font-size: 24px;
    font-family: 'Courgette', cursive;
}

.quote-box {
    margin-block: 4rem;
}