footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

footer ul li {
    gap: 2rem;
    list-style: none;
}

footer ul li a:hover {
    background-color: rgb(134, 134, 134);
}

footer ul li a:link {
    color: rgb(255, 255, 255)
}

footer ul li a:visited {
    color: rgb(180, 166, 202)
}