footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
display: flex;
justify-content: center;
list-style: none;

}

footer ul li {
    margin-inline: 2rem;
}

footer ul li a:link {
    color: rgb(255, 255, 255)
}

footer ul li a:visited {
    color: rgb(180, 166, 202)
}